{% extends '../base.html' %}
{% load static %}
{% block title %}{{ genre.genreName }}{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="container">
            <div class="all-books">
                <h3 class="title">Книги по жанру - {{ genre.genreName }}</h3>
                <div class="row">
                    {% for ebook in ebooks %}
                    <div class="col-6">
                        <div class="new-book-card">
                            <div class="image-cover">
                                <img src="{{ ebook.imageCover.url }}" alt="{{ ebook.title }}">
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="new-book-data">
                                        {{ ebook.author|truncatechars:10 }}<br>{{ ebook.title|truncatechars:10 }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <a href="{% url 'bookDetail' pk=ebook.pk %}" class="play-btn"><img src="{% static './img/play-button.svg' %}" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}